<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elecciones Regionales</title>
</head>
<body align="center">
    <h1>Lista de Regiones</h1>
    {% if list_regi %}
        <table align="center">
            {% for region in list_regi %}
            <tr>
                <td><a href="/elecciones/{{ region.id }}">{{region.region_nom}}</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}

    <p>No existen registros</p>
    {% endif %}


</body>
</html>